name: memcached_benchmark

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  changes:
    if: github.repository == 'rex-rs/rex'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      bench: ${{ steps.filter.outputs.bench }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            bench:
              - 'tools/memcached_benchmark/**'

  build:
    needs: changes
    if: ${{ needs.changes.outputs.bench == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tools/memcached_benchmark

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            bench:
              - 'tools/memcached_benchmark/**'
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1

      - name: Build
        run: |
          nix develop --command bash -e -c "cargo fmt --check --verbose && cargo build -r --verbose"
      - name: Run tests
        run: |
          nix develop --command bash -e -c "cargo test --verbose && cargo test -r --verbose"
