name: memcached_benchmark

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  changes:
    if: github.repository == 'rex-rs/rex'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      bench: ${{ steps.filter.outputs.bench }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            bench:
              - 'tools/memcached_benchmark/**'

  build:
    needs: changes
    if: ${{ needs.changes.outputs.bench == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tools/memcached_benchmark

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            bench:
              - 'tools/memcached_benchmark/**'
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Build the devenv shell and run any pre-commit hooks
        run: devenv test

      - name: Build
        shell: devenv shell bash -- -e {0}
        run: |
          cargo fmt --check --verbose
          cargo build -r --verbose
      - name: Run tests
        shell: devenv shell bash -- -e {0}
        run: |
          cargo test --verbose
          cargo test -r --verbose
